body {
    margin: 0%;
  }

.container{
    margin: 1%;
}
.containerC{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 20%  20% 20% 40%;
        margin: 1%; 
}




.productsSales{
    grid-column: column 1 span/2;
    grid-row: row 1;
}
.company_table{
    width: 150%;
}
.stockProducts{
    grid-column: column 1 span/2;
    grid-row: row 2;
}

.graphC{
    grid-column: column 4;
    grid-row: row 2;
    float: right;
}





