body {
    margin: 0%;
  }

.container{
    margin: 1%;
}
.containerC{
        display: grid;
        grid-auto-columns: [col] 100%;
        grid-auto-rows: [row] 40% [row] 40% [row] 20% [end];
        margin: 1%; 
}




.productsSales{
    grid-column: col;
    grid-row: row 1;
}
.company_table{
    width: 150%;
}
.stockProducts{
    grid-column: col;
    grid-row: row 2; 
}

.graphC{
    grid-column: col;
    grid-row: row 3;
}

