body {
    margin: 0%;
  }

.container{
    margin: 1%;
}
.containerC{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 20%  20% 20%  40%;
        margin: 1%; 
}




.clientsDivC{
    grid-column: column 1 span/2;
    grid-row: row 1;
}
.company_table{
    width: 150%;
}
.activesDivC{
    grid-column: column 1 span/2;
    grid-row: row 2; 
}

.productsDivC{
    grid-column: column 1 span/2;
    grid-row: row 3;
}

.dashC{
    
    width: 10%;  
    grid-row: row 4;  
}

.salesC{
   
    grid-row: row 4;
    height: 800%;
   
}


