body {
    margin: 0%;
  }

.containerC{
        display: grid;
        grid-auto-columns: [col] 50%  [col] 50%;
        grid-auto-rows: [row] 20% [row] 20% [row] 20% [row] 10% [row] 30% [end]    
}




.clientsDivC{
    grid-column: col;
    grid-row: row 1 span/1;
}

.activesDivC{
    grid-column: col 2;
    grid-row: row 1 span/1; 
}

.productsDivC{
    grid-column: col;
    grid-row: row 3;
}

.dashC{
    grid-column: col;
    grid-row: row 4;  
}

.salesC{
    grid-column: col;
    grid-row: row 5;
}


